<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/gramschs/Pictures/Snagit/2023-03-31_15-28-52.mp4</key>
	<data>
	Ym9va+wCAAAAAAQQMAAAADqtycEFlUiVsI7+JmQ86B2XhVXYqNhFMlTQ0wj9hVzy6AEA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAIAAAAAQEAAGdyYW1zY2hzCAAAAAEB
	AABQaWN0dXJlcwYAAAABAQAAU25hZ2l0AAAXAAAAAQEAADIwMjMtMDMtMzFfMTUtMjgt
	NTIubXA0ABQAAAABBgAAEAAAACAAAAAwAAAAQAAAAFAAAAAIAAAABAMAABVdAAAAAAAA
	CAAAAAQDAADP7gMAAAAAAAgAAAAEAwAA0u4DAAAAAAAIAAAABAMAAKYNGwAAAAAACAAA
	AAQDAACWOIoAAAAAABQAAAABBgAAjAAAAJwAAACsAAAAvAAAAMwAAAAIAAAAAAQAAEHE
	64vKDNdfGAAAAAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAMAAAAA
	AAAABAAAAAMDAAD1AQAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhE
	CAAAAAQDAAAAkIKW5wAAAAgAAAAABAAAQcTKe3SAAAAkAAAAAQEAADQ4RDVDQjZBLTIx
	QUYtNEZFMy05REVFLTdFMDBCQTlCNjFGMBgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAA
	AAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAADMAAAA/v///wEAAAAAAAAAEAAAAAQQAABw
	AAAAAAAAAAUQAADcAAAAAAAAABAQAAAIAQAAAAAAAEAQAAD4AAAAAAAAAAIgAADUAQAA
	AAAAAAUgAABEAQAAAAAAABAgAABUAQAAAAAAABEgAACIAQAAAAAAABIgAABoAQAAAAAA
	ABMgAAB4AQAAAAAAACAgAAC0AQAAAAAAADAgAADgAQAAAAAAAAHAAAAoAQAAAAAAABHA
	AAAgAAAAAAAAABLAAAA4AQAAAAAAABDQAAAEAAAAAAAAAA==
	</data>
</dict>
</plist>
